[Unit]
Description=Servicio de verificacion de espacio
After=network.taget

[Service]
ExecStart=/bin/python3 /home/jjesus/Documentos/tarea5.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

